<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Diario</title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">

  <link rel="stylesheet" href="css/styles.css?v=1.0">

</head>

<body>
    <div>
    </div>
    <div>
        <h1>Buscar artistas que escucha un usuario</h1>
    </div>

    <form method="GET" action="{% url 'get-artistas-usuario' %}">
        {% csrf_token %}
        <h2>Introduzca el nombre del usuario</h2>
        <div>
            <label for="inputName"></label>
            {{form.name}}
        </div>
        <button type="submit">Buscar</button>
    </form>
</body>
</html>